{{ $pageTitle := .Title }}
<article class="preview">
    <a href="{{ .RelPermalink }}" class="preview__wrap">
        <span class="preview__img" aria-hidden="true">
            {{ with .Resources.Get .Params.preview_image }}
                {{ if .RelPermalink  }}
                <img src="{{ .RelPermalink  }}" loading="lazy" alt="{{ $pageTitle }}" />
                {{ end }}
            {{ end }}
        </span>
        <span class="preview__info">
            <span class="preview__title">
                {{ $pageTitle | safeHTML }}
            </span>
            {{ if isset .Params "description" }}
            <span class="preview__desc">{{ .Description }}</span>
            {{ end }}
        </span>
    </a>
</article>